.name{
	background-color: #9DD9D2;
}
body{
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	background-color: #FFF8F0;
	color:#392F5A;
}

.top{
		/*background-color: #38AECC;*/
	background-color: #ff8811;
}
.top-text{
	color:#FFFDF5 !important;
	font-size: 3em; 
}
.about{
	background-color: #FF8811;
}
.quote{
	font-family: garden;
	padding-top: 5em;
	font-size: 1.5em;
}

@font-face {
  font-family: 'garden';
  src: URL('Countryside/country.ttf') format('truetype');
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9DD9D2;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FF8811;
  border-right: 16px solid #FFF8F0;
  border-bottom: 16px solid #392F5A;
  border-left: 16px solid #F4D06F;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}